Nouveau chapitre pour {{ manga.name }} !

<p>
    Le chapitre n° {{ chapter.number }} intitulé {{ chapter.name }} est sortie, vous le retrouverez sur scantrad ici :<br>
    <a href="{{ scantrad_manga_url }}/{{ url }}/{{ chapter.number }}">{{ scantrad_manga_url }}/{{ url }}/{{ chapter.number }}</a>
</p>

<p>
    Enjoy
</p>