Nouveau chapitre pour {{ manga.name }} !

<p>
    Le chapitre n° {{ chapter.number }} intitulé {{ chapter.name }} est sortie, vous le retrouverez sur scantrad ici :<br>
    <a href="{{ scantrad_manga_url }}/{{ url }}/{{ chapter.number }}">{{ scantrad_manga_url }}/{{ url }}/{{ chapter.number }}</a>
</p>

<p>
    Enjoy
</p>

<p>
    Si vous souhaitez vous désabonner de cette alerte vous pouvez <a href="{{ unsubscribe_url }}">cliquer ici</a><br>
    ou si vous ne voyez pas ce lien vous pouvez aller directement sur ce lien :<br>
    {{ unsubscribe_url }}
</p>
